backups/MASTER - AI Validated Video Pipeline.json
{"updatedAt":"2026-01-09T10:30:55.706Z","createdAt":"2026-01-09T10:30:55.706Z","id":"1CEwWgUub2N7LCg7","name":"MASTER - AI Validated Video Pipeline","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"92bc152a-4e9b-49b2-a062-3d9e802cb141","name":"Schedule: Daily 8 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2672,0]},{"parameters":{"text":"Fetch the latest trending AI topics from all configured sources. Analyze engagement and return the top 10 most valuable posts.","hasOutputParser":true,"options":{"systemMessage":"You are a research assistant specialized in gathering trending AI and machine learning content from multiple online sources.\n\nYour task: Fetch trending topics from these sources and combine them into a unified dataset:\n\n1. Reddit r/artificial: https://www.reddit.com/r/artificial/top/.json?limit=10&t=day\n2. Reddit r/MachineLearning: https://www.reddit.com/r/MachineLearning/top/.json?limit=10&t=day\n\nInstructions:\n- Use the HTTP Request tool to fetch data from each source\n- Handle errors gracefully - if one source fails, continue with others\n- Extract posts with high engagement (score > 50 OR comments > 20)\n- Combine all posts and rank by engagement score (upvotes + 2*comments)\n- Return the top 10 most engaging posts\n\nOutput format (JSON):\n{\n  \"posts\": [\n    {\n      \"title\": \"Post title\",\n      \"score\": 123,\n      \"comments\": 45,\n      \"subreddit\": \"artificial\"\n    }\n  ],\n  \"summary\": \"Brief summary of what you found\",\n  \"sources_fetched\": [\"r/artificial\", \"r/MachineLearning\"],\n  \"total_posts\": 10\n}"}},"id":"cdf4c04c-7dbd-4beb-a2c0-2fa4f8173861","name":"AI Agent - Multi-Source Researcher","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2480,0],"notesInFlow":true,"notes":"Single agent handles all source fetching"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"parametersHeaders":{"values":[{}]}},"id":"870f49d7-f79c-4f10-acc3-9abeba4a6839","name":"Tool: HTTP Request","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2384,272],"notesInFlow":true,"notes":"Agent uses this to fetch from any URL"},{"parameters":{"jsCode":"// Enhanced processing and validation\nconst agentOutput = items[0].json;\n\nlet postsData;\ntry {\n  // Parse agent output\n  if (typeof agentOutput.output === 'string') {\n    postsData = JSON.parse(agentOutput.output);\n  } else {\n    postsData = agentOutput.output || agentOutput;\n  }\n} catch (error) {\n  // Fallback: try to extract from text\n  const textOutput = agentOutput.output || JSON.stringify(agentOutput);\n  const jsonMatch = textOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    postsData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Could not parse agent output');\n  }\n}\n\nconst posts = postsData.posts || [];\n\n// Format posts for script generation\nconst formattedPosts = posts.map((post, index) => ({\n  ranking: index + 1,\n  title: post.title,\n  score: post.score || 0,\n  comments: post.comments || 0\n}));\n\n// Create text summary for AI\nconst postsText = formattedPosts.map(post => {\n  return `${post.ranking}. \\\"${post.title}\\\" (${post.score} upvotes)`;\n}).join('\\\\n');\n\nreturn [{\n  json: {\n    trendingPosts: formattedPosts,\n    postsText: postsText,\n    metadata: {\n      agentUsed: true,\n      sourcesFetched: postsData.sources_fetched || []\n    }\n  }\n}];\n"},"id":"be1685bc-b0e9-411f-9c6e-55a649ca5a68","name":"Process Agent Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2176,-272],"notesInFlow":true,"notes":"Validates and formats agent output for script generation"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GROQ_API_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"llama-3.1-70b-versatile\", \"messages\": [{\"role\": \"system\", \"content\": \"You are an expert YouTube Shorts creator.\"}, {\"role\": \"user\", \"content\": `Create 1 educational YouTube Short from these trending topics:\\n\\n${$json.postsText}\\n\\nProvide:\\n1. Title (catchy, <60 chars)\\n2. Full 2-minute script with [VISUAL:] tags\\n3. Timestamps: [0-5s] Hook, [5-30s] Context, [30-90s] Teaching, [90-110s] Takeaway, [110-120s] CTA\\n\\nReturn JSON:\\n{\\n  \\\"title\\\": \\\"...\\\",\\n  \\\"script\\\": \\\"Full script with [VISUAL:] tags\\\",\\n  \\\"timestamps\\\": [{\\\"time\\\": \\\"0-5s\\\", \\\"section\\\": \\\"Hook\\\", \\\"text\\\": \\\"...\\\"}],\\n  \\\"keywords\\\": [\\\"...\\\"]\\n}`}], \"temperature\": 0.7, \"max_tokens\": 3000}) }}","options":{}},"id":"dfb29ad8-c2cb-40e3-9e10-6c3aed64e1fe","name":"AI: Generate Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,-272]},{"parameters":{"jsCode":"const response = items[0].json;\nlet content = response.choices?.[0]?.message?.content;\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(content);\nconst videoId = `vid_${Date.now()}`;\nreturn [{json: {...data, videoId: videoId, createdAt: new Date().toISOString()}}];"},"id":"9fc1e8e5-0dc7-4f41-a3ef-2dbdaac625e9","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1824,-272]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GROQ_API_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"llama-3.1-70b-versatile\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a professional content quality reviewer for YouTube Shorts. Evaluate scripts critically.\"}, {\"role\": \"user\", \"content\": `Review this 2-minute YouTube Short script for PROFESSIONAL quality:\\n\\nTitle: ${$json.title}\\nScript: ${$json.script}\\nTimestamps: ${JSON.stringify($json.timestamps)}\\n\\nEvaluate:\\n1. Professional Language: Is it clear, engaging, jargon-free?\\n2. Flow & Structure: Does it follow Hook→Context→Teaching→Takeaway→CTA?\\n3. Engagement: Will it keep viewers watching?\\n4. Duration: Is it truly 2 minutes (110-120s)?\\n5. Visual Cues: Are there enough [VISUAL:] tags (need 4+)?\\n6. Educational Value: Does it teach effectively?\\n\\nReturn JSON:\\n{\\n  \\\"approved\\\": true/false,\\n  \\\"score\\\": 85,\\n  \\\"issues\\\": [\\\"issue1\\\", \\\"issue2\\\"],\\n  \\\"strengths\\\": [\\\"strength1\\\"],\\n  \\\"recommendation\\\": \\\"APPROVE/REJECT/REVISE\\\"\\n}\\n\\nOnly approve if score >= 80 and professional quality.`}], \"temperature\": 0.3, \"max_tokens\": 1000}) }}","options":{}},"id":"45d62afb-2ac9-490a-b300-91dc520a533d","name":"AI Agent - Validate Script Quality","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1648,-272],"notesInFlow":true,"notes":"AI reviews script for professional quality"},{"parameters":{"jsCode":"const validation = items[0].json;\nlet content = validation.choices?.[0]?.message?.content;\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst review = JSON.parse(content);\n\nif (review.recommendation === 'REJECT' || !review.approved || review.score < 80) {\n  throw new Error(`AI QUALITY CHECK FAILED (Score: ${review.score}/100):\\nIssues: ${review.issues.join(', ')}\\nRecommendation: ${review.recommendation}`);\n}\n\nconst scriptData = $('Parse Script').first().json;\nreturn [{json: {...scriptData, aiValidation: review, validatedAt: new Date().toISOString()}}];"},"id":"0d3425b7-859e-48f1-8a1c-413addfd4785","name":"Check Script Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,-272]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_OPENAI_API_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"tts-1-hd\", \"voice\": \"nova\", \"input\": $json.script.replace(/\\[VISUAL:.*?\\]/g, ''), \"speed\": 1.05}) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"b904636f-546c-46eb-bc77-3491f653df23","name":"Generate Voiceover (OpenAI TTS-HD)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-272]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GROQ_API_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"llama-3.1-70b-versatile\", \"messages\": [{\"role\": \"system\", \"content\": \"You are an audio quality expert reviewing AI-generated voiceovers for professional YouTube content.\"}, {\"role\": \"user\", \"content\": `Voiceover file created: C:\\\\temp\\\\voiceover_${$json.videoId}.mp3\\n\\nScript (for reference): ${$json.script}\\n\\nEvaluate EXPECTED quality (you cannot listen, but evaluate based on script):\\n1. Voice Clarity: Will OpenAI TTS-HD 'nova' voice be clear?\\n2. Pacing: Is script length appropriate for 2 minutes at 1.05x speed?\\n3. Professionalism: Does script sound professional when read aloud?\\n4. Natural Flow: Are there awkward phrases or tongue-twisters?\\n\\nWord count: ${$json.script.replace(/\\[VISUAL:.*?\\]/g, '').split(/\\s+/).length} words\\nExpected duration: ~${Math.round($json.script.replace(/\\[VISUAL:.*?\\]/g, '').split(/\\s+/).length / 2.5)} seconds at 1.05x\\n\\nReturn JSON:\\n{\\n  \\\"approved\\\": true/false,\\n  \\\"score\\\": 85,\\n  \\\"expectedDuration\\\": 115,\\n  \\\"issues\\\": [],\\n  \\\"recommendation\\\": \\\"APPROVE/REJECT\\\"\\n}\\n\\nApprove only if duration is 100-130s and professional.`}], \"temperature\": 0.3, \"max_tokens\": 800}) }}","options":{}},"id":"0410a423-b441-4a42-9c7b-4ac53cf506e9","name":"AI Agent - Validate Voiceover Quality","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,-272],"notesInFlow":true,"notes":"AI checks voiceover will be professional"},{"parameters":{"jsCode":"const validation = items[0].json;\nlet content = validation.choices?.[0]?.message?.content;\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst review = JSON.parse(content);\n\nif (!review.approved || review.score < 75) {\n  throw new Error(`VOICEOVER QUALITY CHECK FAILED (Score: ${review.score}/100):\\nExpected duration: ${review.expectedDuration}s (target: 110-120s)\\nIssues: ${review.issues.join(', ')}`);\n}\n\nconst scriptData = $('Check Script Approval').first().json;\nreturn [{json: {...scriptData, voiceValidation: review}}];"},"id":"86e62aa1-ad6c-4d38-b209-8a9685faf66e","name":"Check Voice Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,16]},{"parameters":{"jsCode":"// Prepare VEO3 prompt from script visual cues\nconst script = $json.script || '';\nconst title = $json.title || '';\n\n// Extract visual cues from script\nconst visualCues = [];\nconst visualRegex = /\\[VISUAL:\\s*([^\\]]+)\\]/gi;\nlet match;\n\nwhile ((match = visualRegex.exec(script)) !== null) {\n  visualCues.push(match[1].trim());\n}\n\n// Create VEO3 prompt combining all visual elements\nconst veoPrompt = visualCues.length > 0 \n  ? visualCues.join('. ') + '. Professional educational tech style, vibrant colors, smooth animations, 9:16 vertical format.'\n  : `${title}. Professional educational tech animation explaining the concept. Vibrant colors, smooth transitions, modern minimalist style. 9:16 vertical format.`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    veoPrompt: veoPrompt,\n    visualCues: visualCues,\n    duration: '120s'\n  }\n}];\n"},"id":"31c74de2-7bd4-4904-b951-e7f4aaee54d2","name":"Prepare VEO3 Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-256],"notesInFlow":true,"notes":"Extracts visual cues from script for AI video"},{"parameters":{"method":"POST","url":"https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR_PROJECT_ID/locations/us-central1/publishers/google/models/veo-3-flash:predict","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GOOGLE_CLOUD_ACCESS_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"instances\": [{\n    \"prompt\": $json.veoPrompt,\n    \"aspectRatio\": \"9:16\",\n    \"duration\": $json.duration,\n    \"negativePrompt\": \"blurry, low quality, distorted, text, watermark\",\n    \"generationConfig\": {\n      \"temperature\": 0.7,\n      \"topP\": 0.9\n    }\n  }]\n}) }}","options":{"timeout":120000}},"id":"a5de224a-d15b-4394-bebb-77f5d311c2ff","name":"VEO3 - Generate AI Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,-256],"notesInFlow":true,"notes":"Google Veo 3 AI video generation"},{"parameters":{"jsCode":"// Parse VEO3 response\nconst response = items[0].json;\n\nif (!response.predictions || response.predictions.length === 0) {\n  throw new Error('VEO3 did not return any predictions');\n}\n\nconst prediction = response.predictions[0];\nconst videoUri = prediction.videoUri || prediction.gcsUri;\n\nif (!videoUri) {\n  throw new Error('No video URI in VEO3 response');\n}\n\n// Convert GCS URL to downloadable URL\nlet downloadUrl = videoUri;\nif (videoUri.startsWith('gs://')) {\n  downloadUrl = videoUri.replace('gs://', 'https://storage.googleapis.com/');\n}\n\nreturn [{\n  json: {\n    videoUri: videoUri,\n    downloadUrl: downloadUrl,\n    videoId: $('Prepare VEO3 Prompt').first().json.videoId,\n    veoPrompt: $('Prepare VEO3 Prompt').first().json.veoPrompt\n  }\n}];\n"},"id":"b11248c7-4cbc-46c0-9c32-7e4e2d3bfe8a","name":"Parse VEO3 Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-256]},{"parameters":{"url":"={{ $json.downloadUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"e2559de5-2c68-49a1-adce-ac96cfa57e1d","name":"Download VEO3 Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-256]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_OPENAI_API_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"dall-e-3\", \"prompt\": `Professional YouTube thumbnail: \\\"${$json.title}\\\". Vibrant, high contrast, educational tech style.`, \"size\": \"1024x1024\", \"quality\": \"hd\", \"n\": 1}) }}","options":{}},"id":"706a7d76-3d56-4a46-ad3d-a8e6f9ddcd19","name":"Generate Thumbnail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,16]},{"parameters":{"jsCode":"const scriptData = $('Check Voice Approval').first().json;\nconst thumbnailResponse = $('Generate Thumbnail').first().json;\nconst thumbnailUrl = thumbnailResponse.data?.[0]?.url;\n\nreturn [{\n  json: {\n    ...scriptData,\n    thumbnailUrl: thumbnailUrl,\n    videoSource: 'VEO3_AI'\n  }\n}];\n"},"id":"fda3f385-3400-4c2d-9a86-b3b6590c2c56","name":"Merge Thumbnail","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,16]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GROQ_API_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"llama-3.1-70b-versatile\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a professional video quality inspector for YouTube Shorts content.\"}, {\"role\": \"user\", \"content\": `Final video created. Verify PROFESSIONAL quality:\\n\\nVideo Path: C:\\\\temp\\\\final_${$json.videoId}.mp4\\nExpected specs:\\n- Resolution: 1080x1920 (portrait)\\n- Duration: ~120 seconds\\n- Format: MP4 (H.264)\\n- Captions: Embedded (white, black outline)\\n- Audio: HD voiceover, 192kbps\\n\\nInput Components:\\n1. Professional script (AI validated, score: ${$json.aiValidation.score}/100)\\n2. HD voiceover (validated, expected: ${$json.voiceValidation.expectedDuration}s)\\n3. Background video from Pexels (portrait)\\n4. AI thumbnail (DALL-E 3 HD)\\n5. Captions with proper styling\\n\\nEvaluate if this combination will produce a PROFESSIONAL-LOOKING video:\\n1. Will it look polished and professional?\\n2. Are all components high quality?\\n3. Is duration appropriate (110-130s)?\\n4. Will viewers perceive it as professional content?\\n\\nReturn JSON:\\n{\\n  \\\"approved\\\": true/false,\\n  \\\"score\\\": 90,\\n  \\\"professionalQuality\\\": true/false,\\n  \\\"issues\\\": [],\\n  \\\"recommendation\\\": \\\"PUBLISH/REJECT/REVISE\\\"\\n}\\n\\nOnly approve if professional quality (score >= 85).`}], \"temperature\": 0.2, \"max_tokens\": 800}) }}","options":{}},"id":"ae0b6959-13b2-4f14-b84b-603a15b46e93","name":"AI Agent - Final Video Quality Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,16],"notesInFlow":true,"notes":"AI validates final video is professional"},{"parameters":{"jsCode":"const fs = require('fs');\nconst videoPath = `C:\\\\temp\\\\final_${items[0].json.videoId}.mp4`;\n\n// Check video file exists\nif (!fs.existsSync(videoPath)) {\n  throw new Error('Video file not created!');\n}\n\nconst stats = fs.statSync(videoPath);\nif (stats.size < 100000) {\n  throw new Error('Video file too small - creation likely failed');\n}\n\n// Parse AI validation\nconst aiResponse = items[0].json;\nlet content = aiResponse.choices?.[0]?.message?.content;\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst finalReview = JSON.parse(content);\n\nif (!finalReview.approved || !finalReview.professionalQuality || finalReview.score < 85) {\n  throw new Error(`FINAL AI QUALITY CHECK FAILED (Score: ${finalReview.score}/100):\\nProfessional Quality: ${finalReview.professionalQuality}\\nIssues: ${finalReview.issues.join(', ')}\\nRecommendation: ${finalReview.recommendation}`);\n}\n\nconst scriptData = $('Create Captions').first().json;\n\nreturn [{\n  json: {\n    ...scriptData,\n    finalVideoPath: videoPath,\n    thumbnailPath: `C:\\\\temp\\\\thumb_${scriptData.videoId}.png`,\n    fileSize: stats.size,\n    fileSizeMB: (stats.size / 1024 / 1024).toFixed(2),\n    finalAiReview: finalReview,\n    status: '✅ PROFESSIONAL VIDEO READY',\n    completedAt: new Date().toISOString(),\n    qualityScores: {\n      scriptQuality: scriptData.aiValidation.score,\n      voiceQuality: scriptData.voiceValidation.score,\n      videoQuality: finalReview.score,\n      overallScore: Math.round((scriptData.aiValidation.score + scriptData.voiceValidation.score + finalReview.score) / 3)\n    }\n  }\n}];"},"id":"08310b38-ccd8-4537-bb59-2c892061795a","name":"Final Professional Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,16],"notesInFlow":true,"notes":"Confirms all AI agents approved + file valid"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1072,-272],"id":"4449f015-f18a-4606-9d0a-47dbb46c7a2b","name":"Upload file"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[384,-256],"id":"ffc3af60-3a1e-468c-8a31-47fbab22920d","name":"Upload file1"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,16],"id":"2af3e03e-d587-4ea7-a601-c17765dfaf80","name":"Upload file2"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[848,16],"id":"0c2c16a4-9881-44af-8924-12cc85bfc7af","name":"Transcribe a recording"},{"parameters":{"resource":"video","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1056,16],"id":"ec24316c-d652-4f57-80c8-ad4664e2325f","name":"Generate a video","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"outputFormat":"mp4"},"type":"@cloudconvert/n8n-nodes-cloudconvert.cloudConvert","typeVersion":1,"position":[1232,16],"id":"ce988543-5e3e-41d8-b2e5-5ba72e451266","name":"CloudConvert"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[2624,0],"id":"a0bc18ab-4c28-4863-a342-c12b23326db8","name":"Google Sheets Logger","notesInFlow":true,"notes":"Tracks all published videos"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"list","value":""},"messageType":"block","blocksUi":{"blocksValues":[{"type":"section","textType":"mrkdwn","text":"=🎬 *New YouTube Short Published!*\\n\\n*Title:* {{ $json.title }}\\n*YouTube:* {{ $json.youtubeUrl }}\\n\\n📊 *Quality Scores:*\\n• Script: {{ $json.aiValidation.score }}/100\\n• Voice: {{ $json.voiceValidation.score }}/100\\n• Video: {{ $json.finalAiReview.score }}/100\\n• Overall: {{ $json.qualityScores.overallScore }}/100\\n\\n✅ Status: Published successfully"},{"type":"image","imageUrl":"={{ $json.thumbnailUrl }}","altText":"Video Thumbnail"}]},"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2848,0],"id":"63108eac-1ed0-491e-8f24-ef8c03f028fd","name":"Slack Notification","notesInFlow":true,"webhookId":"398a9c44-5f88-47e7-b3e1-dca0b292e997","notes":"Notifies team of successful publish"},{"parameters":{"name":"={{ new Date().toISOString().split('T')[0] }}_{{ $json.videoId }}_{{ $json.title.replace(/[^a-zA-Z0-9]/g, '_') }}.mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3072,0],"id":"1c6ea0db-740a-4ca5-b116-64b75dc57d57","name":"Google Drive Archive","notesInFlow":true,"notes":"Archives final video with metadata"},{"parameters":{"resource":"video","operation":"upload","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1520,16],"id":"34c9223a-7824-45c0-9aba-4be0ca8730ca","name":"Upload a video"}],"connections":{"Schedule: Daily 8 AM":{"main":[[{"node":"AI Agent - Multi-Source Researcher","type":"main","index":0}]]},"Tool: HTTP Request":{"ai_tool":[[{"node":"AI Agent - Multi-Source Researcher","type":"ai_tool","index":0}]]},"AI Agent - Multi-Source Researcher":{"main":[[{"node":"Process Agent Results","type":"main","index":0}]]},"Process Agent Results":{"main":[[{"node":"AI: Generate Script","type":"main","index":0}]]},"AI: Generate Script":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"AI Agent - Validate Script Quality","type":"main","index":0}]]},"AI Agent - Validate Script Quality":{"main":[[{"node":"Check Script Approval","type":"main","index":0}]]},"Check Script Approval":{"main":[[{"node":"Generate Voiceover (OpenAI TTS-HD)","type":"main","index":0}]]},"AI Agent - Validate Voiceover Quality":{"main":[[{"node":"Check Voice Approval","type":"main","index":0}]]},"Check Voice Approval":{"main":[[{"node":"Prepare VEO3 Prompt","type":"main","index":0},{"node":"Generate Thumbnail","type":"main","index":0}]]},"Prepare VEO3 Prompt":{"main":[[{"node":"VEO3 - Generate AI Video","type":"main","index":0}]]},"VEO3 - Generate AI Video":{"main":[[{"node":"Parse VEO3 Response","type":"main","index":0}]]},"Parse VEO3 Response":{"main":[[{"node":"Download VEO3 Video","type":"main","index":0}]]},"AI Agent - Final Video Quality Check":{"main":[[{"node":"Final Professional Check","type":"main","index":0}]]},"Generate Voiceover (OpenAI TTS-HD)":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"AI Agent - Validate Voiceover Quality","type":"main","index":0}]]},"Download VEO3 Video":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Merge Thumbnail","type":"main","index":0}]]},"Merge Thumbnail":{"main":[[{"node":"Upload file2","type":"main","index":0}]]},"Upload file2":{"main":[[{"node":"AI Agent - Final Video Quality Check","type":"main","index":0}]]},"Generate Thumbnail":{"main":[[{"node":"Merge Thumbnail","type":"main","index":0}]]},"Generate a video":{"main":[[{"node":"CloudConvert","type":"main","index":0}]]},"Final Professional Check":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Generate a video","type":"main","index":0}]]},"CloudConvert":{"main":[[]]},"Google Sheets Logger":{"main":[[{"node":"Slack Notification","type":"main","index":0}]]},"Slack Notification":{"main":[[{"node":"Google Drive Archive","type":"main","index":0}]]},"Upload a video":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"58ace3ef-5a4a-4a2c-92e4-82e539a823e5","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-09T10:30:55.775Z","createdAt":"2026-01-09T10:30:55.775Z","role":"workflow:owner","workflowId":"1CEwWgUub2N7LCg7","projectId":"qtXLMOyHEObPL068","project":{"updatedAt":"2025-12-20T06:56:36.343Z","createdAt":"2025-12-19T15:39:58.135Z","id":"qtXLMOyHEObPL068","name":"divyansh dewangan <divyanshd666@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-19T15:39:58.136Z","createdAt":"2025-12-19T15:39:58.136Z","userId":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50","projectId":"qtXLMOyHEObPL068","user":{"updatedAt":"2026-01-10T15:57:40.000Z","createdAt":"2025-12-19T15:39:57.555Z","id":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50","email":"divyanshd666@gmail.com","firstName":"divyansh","lastName":"dewangan","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-20T06:57:01.173Z","personalization_survey_n8n_version":"2.0.3","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":false,"dismissedCallouts":{"aiAgentStarterCallout":true},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-10","isPending":false}}]}}],"tags":[],"activeVersion":null}