backups/My workflow.json
{"updatedAt":"2025-12-23T08:16:57.762Z","createdAt":"2025-12-20T07:04:14.489Z","id":"ND8sVKmDS6TQr6XJ","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"AI-Detector","formDescription":"Upload a photo to see if it is AI-generated.","formFields":{"values":[{"fieldLabel":"data","fieldType":"file","multipleFiles":false}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1024,-128],"id":"a52c6345-d765-4772-afac-cec8a4af0388","name":"On form submission","webhookId":"9d944bd7-949f-4b53-a789-8531a2d533dc"},{"parameters":{"method":"POST","url":"https://api.aiornot.com/v2/image/sync","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-656,-128],"id":"ef7ec05e-2c7e-4a37-bd59-ca172ea39f6c","name":"HTTP Request","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"ToyArPRIDtNHjXt5","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"aa45b8d0-5882-4190-ada8-ecf44cf868fe","name":"Verdict","value":"={{ $json.report.ai_generated.verdict }}","type":"string"},{"id":"73c8230a-6a83-4e36-a384-a92763b8b75c","name":"score ","value":"($json.report.ai_generated.ai.confidence * 100).toFixed(2) }}%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-128],"id":"a549daa6-6fca-4267-8531-29cf0d70e1ff","name":"Edit Fields"},{"parameters":{"operation":"completion","completionTitle":"Analysis Result","completionMessage":"=The image is: {{ $json.Verdict }} Confidence: {{ $json.score }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[-128,-128],"id":"146eb0d0-b12a-4d79-b589-2daf1abdcd09","name":"Form","webhookId":"9d451f81-3b30-4c3e-9bd8-b99756dd3d75"}],"connections":{"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1628ae8d-f9b2-4ab1-a4e1-8dd84cb8e177","activeVersionId":"1628ae8d-f9b2-4ab1-a4e1-8dd84cb8e177","versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2025-12-20T07:04:14.496Z","createdAt":"2025-12-20T07:04:14.496Z","role":"workflow:owner","workflowId":"ND8sVKmDS6TQr6XJ","projectId":"qtXLMOyHEObPL068","project":{"updatedAt":"2025-12-20T06:56:36.343Z","createdAt":"2025-12-19T15:39:58.135Z","id":"qtXLMOyHEObPL068","name":"divyansh dewangan <divyanshd666@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-19T15:39:58.136Z","createdAt":"2025-12-19T15:39:58.136Z","userId":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50","projectId":"qtXLMOyHEObPL068","user":{"updatedAt":"2025-12-26T05:57:41.000Z","createdAt":"2025-12-19T15:39:57.555Z","id":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50","email":"divyanshd666@gmail.com","firstName":"divyansh","lastName":"dewangan","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-20T06:57:01.173Z","personalization_survey_n8n_version":"2.0.3","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":false,"dismissedCallouts":{"aiAgentStarterCallout":true},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-23T08:17:11.000Z","createdAt":"2025-12-23T08:16:57.763Z","versionId":"1628ae8d-f9b2-4ab1-a4e1-8dd84cb8e177","workflowId":"ND8sVKmDS6TQr6XJ","nodes":[{"parameters":{"formTitle":"AI-Detector","formDescription":"Upload a photo to see if it is AI-generated.","formFields":{"values":[{"fieldLabel":"data","fieldType":"file","multipleFiles":false}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1024,-128],"id":"a52c6345-d765-4772-afac-cec8a4af0388","name":"On form submission","webhookId":"9d944bd7-949f-4b53-a789-8531a2d533dc"},{"parameters":{"method":"POST","url":"https://api.aiornot.com/v2/image/sync","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-656,-128],"id":"ef7ec05e-2c7e-4a37-bd59-ca172ea39f6c","name":"HTTP Request","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"ToyArPRIDtNHjXt5","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"aa45b8d0-5882-4190-ada8-ecf44cf868fe","name":"Verdict","value":"={{ $json.report.ai_generated.verdict }}","type":"string"},{"id":"73c8230a-6a83-4e36-a384-a92763b8b75c","name":"score ","value":"($json.report.ai_generated.ai.confidence * 100).toFixed(2) }}%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-128],"id":"a549daa6-6fca-4267-8531-29cf0d70e1ff","name":"Edit Fields"},{"parameters":{"operation":"completion","completionTitle":"Analysis Result","completionMessage":"=The image is: {{ $json.Verdict }} Confidence: {{ $json.score }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[-128,-128],"id":"146eb0d0-b12a-4d79-b589-2daf1abdcd09","name":"Form","webhookId":"9d451f81-3b30-4c3e-9bd8-b99756dd3d75"}],"connections":{"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Form","type":"main","index":0}]]}},"authors":"divyansh dewangan","name":"AI-Detector","description":"","workflowPublishHistory":[{"createdAt":"2025-12-23T08:17:11.504Z","id":2,"workflowId":"ND8sVKmDS6TQr6XJ","versionId":"1628ae8d-f9b2-4ab1-a4e1-8dd84cb8e177","event":"activated","userId":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50"}]}}