backups/My workflow 2.json
{"updatedAt":"2025-12-24T11:52:28.646Z","createdAt":"2025-12-23T12:11:46.658Z","id":"OEGLp1d0jgfQH341","name":"My workflow 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Tell Your Idea","formFields":{"values":[{"fieldLabel":"enter text here"}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-496,16],"id":"27cdd574-0660-4d82-b474-39f674529c71","name":"On form submission","webhookId":"8deb2b35-cfd3-4095-8c32-bebec4b31c23"},{"parameters":{"promptType":"define","text":"\"You are a specialized Investment Data Researcher. Your goal is to find the latest market trends, competitor lists, and financial health indicators for the startup or stock mentioned by the user. Provide a concise but data-heavy summary including market size, key competitors, and any recent news.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-272,16],"id":"9ad8041d-2d77-47e8-b603-2633f4a878a4","name":"AI Agent"},{"parameters":{"promptType":"define","text":"\"You are an optimistic Venture Capitalist. Using the provided research data, argue why we should invest. Focus on: 1. Total Addressable Market (TAM) growth. 2. Unique innovation/Moat. 3. Positive market sentiment. Be persuasive and visionary.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[112,-240],"id":"8650c3f9-618f-466c-9d37-66e101bc7d8c","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"\"You are a risk-averse, skeptical Venture Capitalist. Using the provided research data, argue why we should PASS on this deal. Focus on: 1. Strong incumbent competition. 2. High cash burn or lack of profitability. 3. Macroeconomic risks. Be clinical and critical.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[96,240],"id":"b1ba52ea-95c3-4f37-a7ed-cea0b10c800c","name":"AI Agent2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,0],"id":"38053dcf-d57d-43c6-9ee9-46b8bd6ae557","name":"Merge"},{"parameters":{"promptType":"define","text":"\"You are the Managing Partner of the VC firm. You have heard the bull case and the bear case based on the research provided. Your job is to synthesize these views into a formal Investment Memo.\n\nStructure your response as:\n\nExecutive Summary\n\nKey Opportunities (from the Bull)\n\nCritical Risks (from the Bear)\n\nThe Verdict: (Invest, Watch, or Pass) with a 1-sentence justification.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,16],"id":"6ac2c340-5180-4144-9a12-2388aab08aa7","name":"AI Agent3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-272,240],"id":"90996793-2a62-49db-9bc8-c8171b61d222","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[-128,240],"id":"87bc829e-24de-4728-b9f5-f9bf8f996444","name":"Message a model in Google Gemini","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Message a model in Google Gemini","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"You are a risk-averse, skeptical Venture Capitalist. Using the provided research data, argue why we should PASS on this deal. Focus on: 1. Strong incumbent competition. 2. High cash burn or lack of profitability. 3. Macroeconomic risks. Be clinical and critical"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[256,-48],"id":"2e6702b7-0c2a-494b-9543-2a377246f373","name":"Message a model in Google Gemini1","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,-48],"id":"cbd1b00c-dcbe-43f8-800c-879b88939c6d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"You are an optimistic Venture Capitalist. Using the provided research data, argue why we should invest. Focus on: 1. Total Addressable Market (TAM) growth. 2. Unique innovation/Moat. 3. Positive market sentiment. Be persuasive and visionary"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[240,464],"id":"6738b133-e4ba-4b54-a694-7bb7bc15184b","name":"Message a model in Google Gemini2","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,464],"id":"92b60d93-8cd8-4cd0-908f-344756323cb9","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[672,256],"id":"f29480d5-1c12-4361-963f-16af172a721e","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[816,256],"id":"cabb496a-3539-4b58-890f-73a60268e254","name":"Message a model in Google Gemini3","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"driveId":"=myDrive","folderId":"=Notes","title":"= $node[\"On form submission\"].json[\"chatInput\"] "},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1040,16],"id":"af87ca0f-39cb-4ab5-80d2-2bc8c4bc07b7","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"uymikKcmTyZiKkin","name":"Google Docs account"}}}],"connections":{"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model in Google Gemini":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Message a model in Google Gemini1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Message a model in Google Gemini2":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Message a model in Google Gemini3":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"AI Agent3":{"main":[[{"node":"Create a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dfa7fa89-fb65-4e5b-a73a-9a45723e4583","activeVersionId":"dfa7fa89-fb65-4e5b-a73a-9a45723e4583","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2025-12-23T12:11:46.686Z","createdAt":"2025-12-23T12:11:46.686Z","role":"workflow:owner","workflowId":"OEGLp1d0jgfQH341","projectId":"qtXLMOyHEObPL068","project":{"updatedAt":"2025-12-20T06:56:36.343Z","createdAt":"2025-12-19T15:39:58.135Z","id":"qtXLMOyHEObPL068","name":"divyansh dewangan <divyanshd666@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-19T15:39:58.136Z","createdAt":"2025-12-19T15:39:58.136Z","userId":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50","projectId":"qtXLMOyHEObPL068","user":{"updatedAt":"2025-12-26T05:57:41.000Z","createdAt":"2025-12-19T15:39:57.555Z","id":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50","email":"divyanshd666@gmail.com","firstName":"divyansh","lastName":"dewangan","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-20T06:57:01.173Z","personalization_survey_n8n_version":"2.0.3","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":false,"dismissedCallouts":{"aiAgentStarterCallout":true},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T05:58:22.000Z","createdAt":"2025-12-24T11:52:28.648Z","versionId":"dfa7fa89-fb65-4e5b-a73a-9a45723e4583","workflowId":"OEGLp1d0jgfQH341","nodes":[{"parameters":{"formTitle":"Tell Your Idea","formFields":{"values":[{"fieldLabel":"enter text here"}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-496,16],"id":"27cdd574-0660-4d82-b474-39f674529c71","name":"On form submission","webhookId":"8deb2b35-cfd3-4095-8c32-bebec4b31c23"},{"parameters":{"promptType":"define","text":"\"You are a specialized Investment Data Researcher. Your goal is to find the latest market trends, competitor lists, and financial health indicators for the startup or stock mentioned by the user. Provide a concise but data-heavy summary including market size, key competitors, and any recent news.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-272,16],"id":"9ad8041d-2d77-47e8-b603-2633f4a878a4","name":"AI Agent"},{"parameters":{"promptType":"define","text":"\"You are an optimistic Venture Capitalist. Using the provided research data, argue why we should invest. Focus on: 1. Total Addressable Market (TAM) growth. 2. Unique innovation/Moat. 3. Positive market sentiment. Be persuasive and visionary.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[112,-240],"id":"8650c3f9-618f-466c-9d37-66e101bc7d8c","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"\"You are a risk-averse, skeptical Venture Capitalist. Using the provided research data, argue why we should PASS on this deal. Focus on: 1. Strong incumbent competition. 2. High cash burn or lack of profitability. 3. Macroeconomic risks. Be clinical and critical.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[96,240],"id":"b1ba52ea-95c3-4f37-a7ed-cea0b10c800c","name":"AI Agent2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,0],"id":"38053dcf-d57d-43c6-9ee9-46b8bd6ae557","name":"Merge"},{"parameters":{"promptType":"define","text":"\"You are the Managing Partner of the VC firm. You have heard the bull case and the bear case based on the research provided. Your job is to synthesize these views into a formal Investment Memo.\n\nStructure your response as:\n\nExecutive Summary\n\nKey Opportunities (from the Bull)\n\nCritical Risks (from the Bear)\n\nThe Verdict: (Invest, Watch, or Pass) with a 1-sentence justification.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,16],"id":"6ac2c340-5180-4144-9a12-2388aab08aa7","name":"AI Agent3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-272,240],"id":"90996793-2a62-49db-9bc8-c8171b61d222","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[-128,240],"id":"87bc829e-24de-4728-b9f5-f9bf8f996444","name":"Message a model in Google Gemini","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Message a model in Google Gemini","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"You are a risk-averse, skeptical Venture Capitalist. Using the provided research data, argue why we should PASS on this deal. Focus on: 1. Strong incumbent competition. 2. High cash burn or lack of profitability. 3. Macroeconomic risks. Be clinical and critical"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[256,-48],"id":"2e6702b7-0c2a-494b-9543-2a377246f373","name":"Message a model in Google Gemini1","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,-48],"id":"cbd1b00c-dcbe-43f8-800c-879b88939c6d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"You are an optimistic Venture Capitalist. Using the provided research data, argue why we should invest. Focus on: 1. Total Addressable Market (TAM) growth. 2. Unique innovation/Moat. 3. Positive market sentiment. Be persuasive and visionary"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[240,464],"id":"6738b133-e4ba-4b54-a694-7bb7bc15184b","name":"Message a model in Google Gemini2","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,464],"id":"92b60d93-8cd8-4cd0-908f-344756323cb9","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[672,256],"id":"f29480d5-1c12-4361-963f-16af172a721e","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[816,256],"id":"cabb496a-3539-4b58-890f-73a60268e254","name":"Message a model in Google Gemini3","credentials":{"googlePalmApi":{"id":"ely3WhAVnUf2a4bW","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"driveId":"=myDrive","folderId":"=Notes","title":"= $node[\"On form submission\"].json[\"chatInput\"] "},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1040,16],"id":"af87ca0f-39cb-4ab5-80d2-2bc8c4bc07b7","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"uymikKcmTyZiKkin","name":"Google Docs account"}}}],"connections":{"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model in Google Gemini":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Message a model in Google Gemini1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Message a model in Google Gemini2":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Message a model in Google Gemini3":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"AI Agent3":{"main":[[{"node":"Create a document","type":"main","index":0}]]}},"authors":"divyansh dewangan","name":"Agent VC","description":"","workflowPublishHistory":[{"createdAt":"2025-12-26T05:58:22.327Z","id":3,"workflowId":"OEGLp1d0jgfQH341","versionId":"dfa7fa89-fb65-4e5b-a73a-9a45723e4583","event":"activated","userId":"0b4b5651-765b-40fe-a0a2-f1c8221b5b50"}]}}